body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 40px;
}
.color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

section .half-width {
    width: 50%;
    padding-left: 5%;
}

section .half-width img {
    width: 80%;
}

.hire-btn {
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
  background-image:url(../img/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
}

.dream-big .flexible-container{
    display: flex;
}

.half-width img{
    width: 80%;
    padding: 2%;
    margin: 2px;
}
.half-width{
    width: 50%;
}

.experiance-area {
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiance-item {
    width: 40%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(51, 48, 48);
    margin-left: 5%;
    margin-right: 5%;
   
}

#border {
    border-left: 5px solid;
    border-image: linear-gradient(lightblue,yellow);
    border-image-slice: 1;
}

#brder{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(19, 117, 150),rgb(231, 231, 3));
    border-image-slice: 1;
}

p{
    text-align: justify;
}